*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: rgb(56, 56, 56);
}

#navbar-container{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
}

#navbar{
    transform: rotateX(180deg);
    height:0 ;
    width: 50%;
    border-bottom: 80px solid rgb(63, 63, 63);
    border-left:  160px solid transparent;
    border-right: 160px solid transparent; 
    display: flex;
    justify-content: space-between;
   filter: drop-shadow( 0 0 20px rgb(235, 138, 28));
}

.navbar-button{
    transform: rotateX(-180deg);
    margin-top: 50px;
}

#haupt-container{
   height: 100vh;
}