*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: rgb(56, 56, 56);
}

#navbar-container{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
}

#navbar{
    transform: rotateX(180deg);
    height:0 ;
    width: 50%;
    border-bottom: 80px solid rgb(63, 63, 63);
    border-left:  160px solid transparent;
    border-right: 160px solid transparent; 
    display: flex;
    justify-content: space-between;
   filter: drop-shadow( 0 0 20px rgb(235, 138, 28));
}

.navbar-button{
    transform: rotateX(-180deg);
    margin-top: 50px;
}

#haupt-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  height: 100vh;
}

.rechen-container{
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 70%;
    width: 25%;
    clip-path: polygon(
        10% 0,
        90% 0,
        100% 10%,
        100% 90%,
        90% 100%,
        10% 100%,
        0 90%,
        0 10%
    );
    background-color: rgb(222, 118, 6);
}

.rechen-UI-container{
    width: 100%;
    height: 60%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
}