*{
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: rgb(49, 49, 49);
    font-family: "Roboto", sans-serif;
}

#navbar-container{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
}

#navbar{
    transform: rotateX(180deg);
    height:0 ;
    width: 50%;
    border-bottom: 80px solid rgb(36, 36, 36);
    border-left:  160px solid transparent;
    border-right: 160px solid transparent; 
    display: flex;
    justify-content: space-between;
   filter: drop-shadow( 0 0 20px rgb(235, 69, 28));
}

.navbar-button{
    transform: rotateX(-180deg);
    margin-top: 50px;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(165, 165, 165);
    background-color: red;
    transition: ease-in-out 0.03s;
}

.navbar-button:hover{
box-shadow: 0px -50px 60px 20px rgba(209, 172, 7, 0.836);
}

#haupt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    height: 100vh;
}

.rechen-container{
    display: flex;
    justify-content: center;
    height: 70%;
    width: 25%;
    clip-path: polygon(
        10% 0,
        90% 0,
        100% 10%,
        100% 90%,
        90% 100%,
        10% 100%,
        0 90%,
        0 10%
    );
    background-color: rgb(222,119,6);
}

.rechen-UI-container{
    width: 100%;
    height: 60%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.produktbild-container{
    height: 150px;
    margin-top:25px;
    border-radius: 5px;
    background-image:url('');
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat;
}

.produktmenge-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.produkt-menge-button{
    width: 40px;
    height: 40px;
    font-size: 200%;
    cursor: pointer;
    border: none;
}

.produkt-menge-feld{
    height: 40px;
    text-align: center;
    outline: none;
color: pink;
}

input[type="number"]::-webkit-inner-spin-button,  
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;   
}

.ressurse-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ressursen-menge,.ressursen-name{
    text-align: center;
    padding: 20px;
    background-color: red;
    width: 70px;
    white-space: nowrap;
}

.strom-info-container{
   text-align: center;
}

.strom-info-feld{
    padding: 20px;
    background-color: red;
}

#produkte-auswahl-container{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 60vh;
    background-color: rgba(82, 82, 82, 0.253);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
   visibility: hidden;
}

::-webkit-scrollbar{
   width: 0;
}

#produkte-auswahl{
border-collapse: collapse;
cursor: pointer;
}

#produkte-auswahl td,#produkte-auswahl tr{
    border: solid 1px grey;
}

.produkt-bild {
    transition: ease-in-out 0.3s;
}

#produkte-auswahl img:hover{
    transform: scale(108%);
}